<!-- 这个 launch 文件用于启动 Cartographer 2D SLAM（同步定位与地图构建）功能 -->
<launch>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find ucar_map)/cfg
          -configuration_basename carto_2d.lua"
      output="screen">
    <remap from="scan" to="scan" />
  </node>

  <!-- 设置地图分辨率为0.05米/像素（5cm） -->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

</launch>
